{{- $ContainerPathAlias := importAlias "github.com/gomponents/gontainer-helpers/container" -}}
{{- $ContainerType := .Input.Meta.ContainerType -}}

{{- range $name, $param := .Input.Params -}}
// {{$name}}
// Raw: {{ export $param.Raw }}
// GO:  {{$param.Code}}
// -----------------------------------------------------------------------------
{{end}}
type {{$ContainerType}} struct {
	*{{$ContainerPathAlias}}.BaseContainer
	*{{$ContainerPathAlias}}.BaseParamContainer
}

func (c *{{$ContainerType}}) ValidateAllServices() (errors map[string]error) {
	errors = make(map[string]error)
	for _, id := range []string{
{{range $service := .Input.Services -}} {{ "		" }} {{- export $service.Name }},{{ "\n" }}{{ end -}}
{{- "	" -}} } {
		if _, err := c.Get(id); err != nil {
			errors[id] = err
		}
	}
	if len(errors) == 0 {
		errors = nil
	}
	return
}

func NewParamContainer() *{{$ContainerPathAlias}}.BaseParamContainer {
	result := {{$ContainerPathAlias}}.NewBaseParamContainer(nil)
{{- range $param := .Input.Params}}
    result.OverrideParam({{ export $param.Name }}, func() interface{} {
        // {{ export $param.Raw }}
        return {{$param.Code}}
    })
{{- end}}
	return result
}

func CreateContainer() *{{$ContainerType}} {
	result := &{{$ContainerType}}{}

	getters := make(map[string]{{$ContainerPathAlias}}.ServiceDefinition)
	getters["serviceContainer"] = {{$ContainerPathAlias}}.ServiceDefinition{
		Provider: func() (interface{}, error) {
			return result, nil
		},
		Disposable: false,
	}
{{range $service := .Input.Services}}	getters[{{ export $service.Name }}] = {{$ContainerPathAlias}}.ServiceDefinition{
		Provider: func() (service interface{}, err error) {
			defer func() {
				if r := recover(); r != nil {
					err = {{ importAlias "fmt" }}.Errorf("%s", r)
				}
			}()

			{{- if eq $service.Todo true }}
			err = {{ importAlias "fmt" }}.Errorf("todo")
			{{ end }}

			{{- if ne $service.Constructor "" }}
			service, err = {{ importAlias "github.com/gomponents/gontainer-helpers/caller" }}.CallProvider(
			    {{$service.Constructor}},
				{{- range $arg := $service.Args }}
				// {{ export $arg.Raw }}
				{{ $arg.Code }},
				{{- end }}
			)
			if err != nil {
			    return
			}
			{{- else if ne $service.Type "" }}
			var typeService {{$service.Type}}
            service = typeService
            {{- else if ne $service.Value "" }}
            service = {{ $service.Value }}
			{{- end -}}

			{{- range $call := $service.Calls }}
            {{ if eq $call.Immutable true }}service = {{ end }}{{ importAlias "github.com/gomponents/gontainer-helpers/caller" }}.{{ if eq $call.Immutable true }}MustCallWitherByName{{ else }}MustCallByName{{ end }}(
                &service,
                {{ export $call.Method }},
				{{- range $arg := $call.Args }}
				// {{ export $arg.Raw }}
				{{ $arg.Code }},
				{{- end }}
            )
			{{- end -}}

			{{- range $field := $service.Fields }}
			// {{ export $field.Value.Raw }}
            {{ importAlias "github.com/gomponents/gontainer-helpers/setter" }}.MustSet(&service, {{ export $field.Name }}, {{ $field.Value.Code }})
			{{- end }}

            return
		},
		Disposable: {{$service.Disposable}},
	}
{{end}}
	result = &{{$ContainerType}}{
	    BaseContainer:      {{$ContainerPathAlias}}.NewBaseContainer(getters),
	    BaseParamContainer: NewParamContainer(),
	}
	return result
}

{{- range $service := .Input.Services -}}
{{- if ne $service.Getter "" }}

func (c *{{$ContainerType}}) {{ $service.Getter }}() (result {{ $service.Type }}, err error) {
	var object interface{}
	var ok bool

	object, err = c.Get({{ export $service.Name }})

	if err != nil {
		return
	}

	if result, ok = object.({{ $service.Type }}); !ok {
		err = {{ importAlias "fmt" }}.Errorf("cannot create %s, because cannot cast %T to %T", {{ export $service.Name }}, object, result)
	}

	return
}
{{- end -}}
{{- end }}
